
/* common css  */
:root{
    --white : #ffffff;
    --black : #000;
    --primary-color : #8B0032;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Montserrat';
    color: var(--white);
    background: var(--black);
}
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Thin.eot');
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
        url('/assets/fonts/?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Montserrat-Thin.woff2') format('woff2'),
        url('/assets/fonts/Montserrat-Thin.woff') format('woff'),
        url('/assets/fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-ThinItalic.eot');
    src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
        url('/assets/fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('/assets/fonts/Montserrat-ThinItalic.woff') format('woff'),
        url('/assets/fonts/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Basic';
    src: url('/assets/fonts/Basic-Regular.eot');
    src: local('Basic Regular'), local('Basic-Regular'),
        url('/assets/fonts/Basic-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Basic-Regular.woff2') format('woff2'),
        url('/assets/fonts/Basic-Regular.woff') format('woff'),
        url('/assets/fonts/Basic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a{
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
    height: 100%;
}
p{
    font-family: 'Basic';
    color: #A6A6A6;
    font-size: 20px;
    font-weight: 400;
}
.container{
    max-width: 1640px;
    padding: 0 15px;
    margin: 0 auto;
}
.common-btn{
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: var(--primary-color);
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    padding: 15px 20px;
    color: var(--white);
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.common-btn img{
    margin-right: 7px;
}
.common-btn:hover{
    background:transparent;
}
/* header css */
header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    padding: 35px 21px;
    position: relative;
    cursor: pointer;
}
nav ul li::after{
    content: '';
    position: absolute;
    width: 0;
    height: 7px;
    background-color: var(--primary-color);
    top: 100%;
    left: 0;
    transition: 0.3s all ease-in-out;
}
nav ul li.active::after , nav ul li:hover::after{
    width: 100%;
}
nav ul li a {
    display: in;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Basic';
    color: white;
    cursor: pointer;
}
.header-right-side {
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.header-right-side  .login-btn{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    font-family: 'Basic';
    padding-right: 30px;
    border-right: 1px solid #86939B;
}
.header-right-side  .login-btn img{
    margin-right: 17px;
}
.mobile-toggle{
    display: none;
}
/* banner section css */
.banner{
    background: url(/assets/images/banner-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 100px;
}
.banner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(89deg, #000 19.62%, #000 19.63%, rgba(146, 146, 146, 0.00) 118.83%);
    top: 0;
    left: 0;
    opacity: 0.8;
    
}
.banner-content {
    border-radius: 45px 45px 0px 0px;
    border: 5px solid var(--primary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 150px 150px 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.site-logo-image {
    display: inline-block;
    position: absolute;
    top: 65px;
    left: 135px;
}
h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 85px;
    text-transform: uppercase;
}
.banner-content span{
    display: block;
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    color: var(--white);
    margin-top: 53px;
    max-width: 730px;
}
.banner-content .para-box {
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 20px;
    padding: 21px 44px;
    margin-top: 53px;
    position: relative;
}
.banner-content .para-box p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Basic';
}
.banner-content .common-btn{
    margin-top: 50px;
}
.banner-content .common-btn span{
    margin-top: 0;
}
.banner-content .vector-icon{
    position: absolute;
    bottom: -175px;
    left: 130px;
    width: 60px;
}
.banner-content .page-down-icon{
    text-align: center;
    margin-top: 80px;
}

/* footer css  */
.footer-main{
    background: #1E1E1E;
}
.footer-main .catapult-supports-image{
    text-align: center;
    padding: 57px 0 47px;
    border-bottom: 1px solid rgba(225, 239, 255, 0.50);
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 110px 0;
}
.footer-wrapper .contact-form{
    width: 40%;
}
.footer-content h3{
    font-size: 20px;
    line-height: normal;
    font-weight: 700;
    color:  var(--white);
}
.footer-content form{
    margin-top: 60px;
}
.contact-form .custom-row{
    display: flex;
    align-items: center;
    column-gap: 38px;
}
.input-wrapper {
    margin-bottom: 38px;
}
.input-wrapper label{
    font-family: 'Basic';
    color: #A6A6A6;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}
.input-wrapper input{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 6px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.32);
    font-family: 'Basic';
    color: #A6A6A6;
    font-size: 20px;
    font-weight: 400;
}
form .form-btn{
    margin-top: 68px;
}
.footer-content ul{
    margin-top: 80px;
}
.footer-content ul li{
    margin-bottom: 50px;
}
.footer-content ul li:last-child{
    margin-bottom: 0;
}
.footer-content ul li a{
    color: #A6A6A6;
    font-family: 'Basic';
    font-size: 20px;
    font-weight: 400;
    transition: 0.3s all ease-in-out;
}
.footer-content ul li a:hover{
    color: var(--primary-color);
}
.copy-right .wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}


/* Responsive  */
@media only screen and (max-width: 1640px) {
    .container{
        max-width: 1400px;
    }   
    nav ul li {
        padding: 22px 18px;
    }  
    .banner{
        padding-top: 75px;
    }
    .banner-content{
        padding: 110px 100px 30px;
    }
    .site-logo-image{
        top: 45px;
        left: 120px;
    }
    h1 {
        font-size: 60px;
    }
    .banner-content span {
        font-size: 22px;
        margin-top: 20px;
        max-width: 675px;
    }
    .banner-content .para-box {
        margin-top: 35px;
    }
    .common-btn{
        font-size: 20px;
        padding: 10px 20px;
    }
    .banner-content .vector-icon {
        position: absolute;
        bottom: -155px;
        left: 250px;
        width: 60px;
    }
    .banner-content .page-down-icon{
        margin-top: 40px;
    }
    .footer-main .catapult-supports-image{
        padding: 40px 0;
    }
    .footer-wrapper .contact-form {
        width: 35%;
    }
    .footer-wrapper{
        padding: 70px 0;
    }
    .footer-content form {
        margin-top: 60px;
    }
    .footer-content ul {
        margin-top: 40px;
    }
    .footer-content ul li {
        margin-bottom: 30px;
    }
    .copy-right .wrap {
        padding: 25px 0;
    }
}
@media only screen and (max-width: 1399px){
    .container{
        max-width: 1199px;
    }
    nav ul li {
        padding: 18px 12px;
    }
    nav ul li a{
        font-size: 20px;
    }
    .header-right-side {
        column-gap: 15px;
    }
    .header-right-side .login-btn{
        padding-right: 15px;
    }
    .header-right-side  .login-btn img {
        margin-right: 10px;
    }
    .banner {
        padding-top: 65px;
    }
    .banner-content {
        padding: 90px 70px 30px;
    }
    .site-logo-image {
        top: 30px;
        left: 70px;
    }
    h1{
        font-size: 50px;
        line-height: 70px;
    }
    .banner-content .vector-icon {
        bottom: -170px;
        left: 170px;
    }
    .common-btn img{
        max-width: 30px;
    }
    .banner-content .common-btn span{
        font-size: 20px;
    } 

}
@media only screen and (max-width: 1199px){
    .container{
        max-width: 100%;
    }
    .header-wrapper .logo{
        max-width: 150px;
    }
    .header-right-side .login-btn{
        font-size: 18px;
    }
    .banner-content {
        padding: 90px 30px 30px;
    }
    .banner-content .vector-icon {
        bottom: -180px;
        left: 125px;
    }
    .contact-form .custom-row {
        column-gap: 20px;
    }
    form .form-btn {
        margin-top: 30px;
    }
}
@media only screen and (max-width: 991px){
    .mobile-toggle {
        opacity: 1;
        display: block;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 3px;
        background-color: var(--white);
        margin: 6px 0;
        transition: 0.4s;
        position: relative;
        z-index: 99;
    }
    .mobile-toggle {
        display: block;
        position: relative;
        cursor: pointer;
    }
    .mobile-toggle .bar1 {
        top: -3px;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s linear;
        transition: top 0.2s linear 0.2s, -webkit-transform 0.2s linear;
        -o-transition: transform 0.2s linear, top 0.2s linear 0.2s;
        transition: transform 0.2s linear, top 0.2s linear 0.2s;
        transition: transform 0.2s linear, top 0.2s linear 0.2s, -webkit-transform 0.2s linear;
    }
    .mobile-toggle .bar3 {
        top: 3px;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s linear;
        transition: top 0.2s linear 0.2s, -webkit-transform 0.2s linear;
        -o-transition: transform 0.2s linear, top 0.2s linear 0.2s;
        transition: transform 0.2s linear, top 0.2s linear 0.2s;
        transition: transform 0.2s linear, top 0.2s linear 0.2s, -webkit-transform 0.2s linear;
    }
    .mobile-open .mobile-toggle .bar1 {
        top: 0;
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
        -ms-transform: rotate(-45deg);
        -webkit-transition: all 0.2s linear, -webkit-transform 0.2s linear 0.2s;
        transition: all 0.2s linear, -webkit-transform 0.2s linear 0.2s;
        -o-transition: all 0.2s linear, transform 0.2s linear 0.2s;
        transition: all 0.2s linear, transform 0.2s linear 0.2s;
        transition: all 0.2s linear, transform 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
    }
    .mobile-open .mobile-toggle .bar2 {
        opacity: 0;
    }
    .mobile-open .mobile-toggle .bar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -4px);
        transform: rotate(45deg) translate(-6px, -4px);
        -ms-transform: rotate(45deg);
        top: 0;
        -webkit-transition: all 0.2s linear, -webkit-transform 0.2s linear 0.2s;
        transition: all 0.2s linear, -webkit-transform 0.2s linear 0.2s;
        -o-transition: all 0.2s linear, transform 0.2s linear 0.2s;
        transition: all 0.2s linear, transform 0.2s linear 0.2s;
        transition: all 0.2s linear, transform 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
    }
    header{
        padding: 10px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        background: var(--black);
    }
    .header-wrapper .logo {
        max-width: 120px;
        position: relative;
        z-index: 9;
    }
    nav {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: var(--black);
        left: -100%;
        top: 61px;
        overflow-y: auto;
        transition: 0.5s ease-in-out;
    }
    nav ul{
        flex-direction: column;
        align-items: flex-start;
        margin: 10px;
    }
    nav ul li::after{
        display: none;
    }
    nav ul li:hover a{
        color: var(--primary-color);
    }
    .mobile-open{
        overflow: hidden;
    }
    .mobile-open nav{
        left: 0;
    }
    h1 {
        font-size: 40px;
        line-height: 55px;
    }
    .banner-content {
        margin-top: 50px;
    }
    .banner-content span{
        font-size: 20px;
    }
    .banner-content .para-box{
        padding: 20px;
    }
    .site-logo-image {
        top: 25px;
        left: 30px;
        max-width: 150px;
    }
    .banner-content .vector-icon {
        bottom: -190px;
        left: 70px;    
    }
    .banner-content .common-btn span {
        font-size: 16px;
    }
    .common-btn img {
        max-width: 22px;
    }   
     .common-btn  {
        padding: 10px 15px;
        font-size: 18px;
    }
    .footer-main .catapult-supports-image {
        padding: 20px 0;
    }
    .footer-wrapper{
        flex-wrap: wrap;
        gap: 30px;
    }
    .footer-wrapper .footer-content{
        width: calc(50% - 30px);
    }
    .footer-content ul li {
        margin-bottom: 15px;
    }
    .footer-content form {
        margin-top: 25px;
    }
    .input-wrapper {
        margin-bottom: 20px;
    }

    .input-wrapper input{
        margin-bottom: 0;
    }
    .copy-right .wrap {
        padding: 10px 0;
    }
}
@media only screen and (max-width: 767px){
    .header-wrapper .logo {
        max-width: 110px;
    }
    .header-right-side {
        column-gap: 10px;
    }
    .header-right-side .login-btn {
        font-size: 16px;
    }
    .header-right-side a img{
        max-width: 25px;
    }
    .banner-content{
        border: 2px solid var(--primary-color);
        padding: 60px 15px 30px;
        border-radius: 20px;
        margin-top: 20px;
    }
    .site-logo-image {
        top: 15px;
        left: 15px;
        max-width: 110px;
    }
    h1 {
        font-size: 28px;
        line-height: 42px;
    }
    .banner-content span {
        font-size: 16px;
        line-height: 25px;
        margin-top: 10px;
    }
    .banner-content .para-box {
        padding: 10px;
        margin-top: 15px;
    }
    .banner-content .para-box p{
        font-size: 16px;
        line-height: 22px;
    }
    .common-btn {
        padding: 6px 10px;
        font-size: 14px;
    }
    .common-btn img {
        margin-right: 0px;
    }
    .banner-content .common-btn span{
        font-size: 14px;
    }
    .footer-main .catapult-supports-image img{
        max-width: 140px;
    }
    .footer-wrapper {
        padding: 30px 0;
    }
    .footer-wrapper .footer-content {
        width: 100%;
    }
    .contact-form .custom-row{
        flex-direction: column;
    }
    .footer-content h3{
        font-size: 18px;
    }
    .input-wrapper label{
        font-size: 16px;
    }
    .input-wrapper input{
        padding: 5px;
        font-size: 16px;
    }
    form .form-btn {
        margin-top: 20px;
    }
    .footer-content ul {
        margin-top: 15px;
    }
    .footer-content ul li {
        margin-bottom: 10px;
    }
    .footer-content ul li a{
        font-size: 16px;
    }
    .copy-right .wrap p{
        font-size: 14px;
    }
    .copy-right .social-link{
        max-width: 20px;
    }
}